.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.LoginForm input {
    margin-top: 10px;
    color: var(--primary-color);
    width: auto;
    border: 1px solid var(--primary-color);
}

.loginBtn {
    margin-top: 15px;
}
