.app.dark {
    --bg-color: rgb(102 102 102 / 53%);
    --inverted-bg-color: #e8e8ea;
    --primary-color: rgb(255 255 255 / 88%);
    --secondary-color: #ccc;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #6d708f;
}
